In [1]:
print("hello world")

hello world

In [1]:
def ma_fonction(x, y=0):
    return x + y

In [2]:
ma_fonction(2, 3)

5

In [3]:
liste = [x**2 for x in range(10) if x % 2 == 0]

In [4]:
liste

[0, 4, 16, 36, 64]

In [6]:
import numpy as np

a = np.array([1,2,3])
np.mean(a)

np.float64(2.0)

In [7]:
np.dot(a, a)

np.int64(14)

In [8]:
import pandas as pd

df = pd.DataFrame({
    "age": [25, 30],
    "ville": ["Paris", "Lille"]
})

In [10]:
df["age"]

0    25
1    30
Name: age, dtype: int64

In [12]:
df.loc[0]

age         25
ville    Paris
Name: 0, dtype: object

In [13]:
df.iloc[0]

age         25
ville    Paris
Name: 0, dtype: object

In [14]:
df[df["age"] > 26]

   age  ville
1   30  Lille

In [15]:
df

   age  ville
0   25  Paris
1   30  Lille

In [16]:
df.groupby("ville")["age"].mean()

ville
Lille    30.0
Paris    25.0
Name: age, dtype: float64

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("data.csv")

df = df.dropna()
df = df[df["age"] > 18]

result = df.groupby("ville")["salaire"].mean()

result.plot(kind="bar")
plt.show()

In [ ]:
df_merge = pd.merge(df1, df2, on="id", how="inner")